body {
			font-family: Verdana;
			background-color: #BDF;
		}
		.main{
			min-width: 950px;
		}
		#my-name{
			background-color: hsla(150, 30%, 50%, 0.7);
			border: 2px dashed #BBB;
			border-radius: 10px;
			margin-left: auto;
			margin-right: auto;
			width: 30%;
			text-align: center;
			font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		}
		#contact{
			font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
			font-size: 100%;
			position: absolute;
			top: 10px;
			left: 10px;
			width: auto;
			border: 1px solid #BBB;
			border-radius: 10px;
		}
		#contact ul{
			list-style-type: none;
			padding-left: 5px;
			padding-right: 5px;
		}
		#future{
			position: absolute;
			top: 250px;
			left: 10px;
			width: 25%;
			border: 2px solid #BBB;
			border-radius: 10px;
			text-align: center;
		}
		.picture{
			display: block;
    		margin-left: auto;
    		margin-right: auto;
			background-color: hsla(200, 60%, 60%, 0.1);
			border: 2px double #BBB;
			border-width: 10px;
			border-radius: 10px;
		}
		.section{
			font-size: 70%;
			background-color: hsla(200, 60%, 60%, 0.5);
		}
		#about-me{
			margin-left: auto;
			margin-right: auto;
			width: 42%;
			border: 2px solid #BBB;
			border-radius: 10px;
			text-align: center;
		}
		 h3{
			border: 1px;
			border-radius: 10px;
			color: #5A6;
			margin-left: auto;
			margin-right: auto;
			background-image: url(../table_bg.png);
			background-size: auto 100%;
		}
		table{
			font-size: 70%;
			border-collapse: collapse;
			background-color: hsla(150, 30%, 50%, 0.7);
			border-radius: 10px;
		}
		.tables{
			position: absolute;
			top: -7px;
			right: 10px;
			width: 25%;
		}
		th, td{
			border-collapse: collapse;
			border: 2px solid #BBB;
		}
		tr{
			background-color: hsla(200, 60%, 60%, 0.6);
		}
		tr.alt{
			background-color: hsla(200, 60%, 60%, 0.5);
		}
		th{
			background-image: url(../table_bg.png);
			background-size: auto 100%;
		}
		a{
			text-decoration: none;
		}
		#footer{
			position: absolute;
			bottom: 1px;
			width: 100%;
			font-size: 50%;
		}
		.clear-fix{
			clear: both;
		}